<template>
    <div id="app" class="container-fluid">
        <div class="row">
            <nav-menu></nav-menu>
        </div>
        <div class="row">
            <div class="col-sm-3">                
            </div>
            <div class="col-sm-6">
                <router-view ref="view"></router-view>
            </div>
            <div class="col-sm-3">                
            </div>
        </div>

    </div>

</template>

<script>
import Vue from 'vue'
import HomePage from './home-page'
import NavMenu from './nav-menu'

Vue.component('home-page', HomePage);
Vue.component('nav-menu', NavMenu);

export default {
    name: 'app',
    data() {
        return {
        }
    },   
    methods: {        
    }
}
</script>

<style>
</style>