<template>
    <div>        
        <beautiful-chat
                :agentProfile="agentProfile"
                :onMessageWasSent="onUserMessage"
                :messageList="messageList"
                :newMessagesCount="newMessagesCount"
                :isOpen="isChatOpen"
                :close="closeChat"
                :open="openChat"
                :showEmoji="false"
                :showFile="false" />      
    </div>    
</template>

<script>
import Vue from 'vue'
import Chat from 'vue-beautiful-chat'

Vue.use(Chat)

export default {
    name: 'chat',
    props: ['userInfo'],
    data() {
        return {
            connection: null,
            agentProfile: {
                teamName: 'chatbot',
                imageUrl: 'https://a.slack-edge.com/66f9/img/avatars-teams/ava_0001-34.png'
            },
            messageList: [],
            newMessagesCount: 0,
            isChatOpen: false
        }
    },    
    methods: {
        onChatApiMessage (message) {
            this.newMessagesCount = this.isChatOpen ? this.newMessagesCount : this.newMessagesCount + 1;
            let msg = {
                author: 'them',
                type: 'text',
                data: {
                    text: message.text
                }
            };
            this.messageList = [...this.messageList, msg];          
        },
        onUserMessage (message) {
        this.messageList = [...this.messageList, message]
        this.connection.invoke("Respond", message.data.text).catch(err => console.error(err.toString()));
        },
        openChat () {
        this.isChatOpen = true
        this.newMessagesCount = 0
        },
        closeChat () {
        this.isChatOpen = false
        }    
    },
    created: function(){
        this.connection = new this.$signalR.HubConnectionBuilder()
        .withUrl("http://localhost:5100/rasaHub?userid=testuser&appid=chat_ui")
        .configureLogging(this.$signalR.LogLevel.Information)
        .build();

        this.connection.start().catch(err => console.error(err.toString()));        
        this.connection.on("on_message", (message) => {
            this.onChatApiMessage(message);
        });
    },
    mounted: function(){
        this.connection.invoke("Init", "testuser").catch(err => console.error(err.toString()));        
    }
}

</script>

<style>
</style>
