<template>
    <div>        
        <chat :user-info="userInfo"/>                
    </div>
</template>

<script>
import Chat from './chat'

export default {
    components: {
        Chat
    },
    computed:{
        userInfo (){
            return this.$store.state.user || 'testuser';
        }
    },
    methods: {
    }    
}

</script>

<style>
</style>
